.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.25rem;
  padding-left: 0.5rem;
}

@media (min-width: 400px) {
  .container {
    padding-left: 1rem;
  }
}

@media (max-width: 959px) {
  .chatOpen {
    gap: 0;
  }

  .chatOpen > :first-child {
    display: none;
  }
}

@media (min-width: 960px) {
  .container {
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    padding-left: 0rem;
  }
}

@media (max-width: 959px) {
  .container:has(.chatThread) > :first-child {
    display: none;
  }
}
