.container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1.25rem;
  padding-left: 0.5rem;
}

@media (min-width: 400px) {
  .container {
    padding-left: 1rem;
  }
}

@media (min-width: 960px) {
  .container {
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    padding-left: 0rem;
  }
}
