:root {
  --base-color: hsl(0, 0%, 10%);
  --text-color: #ffffff;
  --secondary-text-color: hsl(0, 0%, 100%, 0.4);
  --page-top-gap: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

input,
button,
textarea,
select {
  font-family: inherit;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
  /* letter-spacing: -1px; */
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1.25rem;
  padding-left: 0.5rem;
}

.chats {
  width: calc(100vw - 0.5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat-filters {
  display: flex;
  gap: 1rem;
}

.chat-filters li {
  color: var(--secondary-text-color);
  font-weight: bold;
  cursor: pointer;
}

.chat-filters li.active {
  color: var(--text-color);
}

.chat-list {
  display: flex;
  gap: 0.5rem;
  margin-left: -0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow-x: auto;
}

.chat-content {
  display: none;
}

.avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.communities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.communities header p {
  color: var(--secondary-text-color);
}

.communities-list {
  width: calc(100vw - 1rem);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.communities-list li {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.community-header {
  display: flex;
  gap: 1rem;
}

.topic {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  margin-bottom: 0.375rem;
  font-size: 1rem;
}

.thumbnail {
  width: 33%;
  aspect-ratio: 1;
  object-fit: cover;
  align-self: start;
  border-radius: 0.25rem;
}

.followers-count {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-size: 0.875rem;
  color: var(--secondary-text-color);
}

.lead-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  font-size: 0.875rem;
  color: var(--secondary-text-color);
}

.join-button {
  width: fit-content;
  margin-left: auto;
  padding: 0.375rem 1.25rem;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media (min-width: 400px) {
  .container {
    padding-left: 1rem;
  }

  .communities-list {
    width: calc(100vw - 2rem);
  }

  .chat-list {
    margin-left: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 530px) {
  .communities-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 960px) {
  .container {
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    padding-left: 0rem;
  }

  .chats {
    width: 380px;
    border-right: 1px solid var(--secondary-text-color);
    padding: var(--page-top-gap) 0.5rem 0 0.5rem;
    overflow: hidden;
  }

  .chat-list {
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    overflow-y: auto;
    padding-bottom: 1rem;
    margin-left: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .chat-list li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    min-width: 0;
    cursor: pointer;
    border-radius: 0.75rem;
    padding: 0.5rem 0.625rem;

    &:hover {
      background-color: hsl(0, 0%, 100%, 0.07);
    }
  }

  .chat-content {
    display: block;
    min-width: 0;
  }

  .chat-content > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
  }

  .chat-content > div:first-child {
    margin-bottom: 0.25rem;
  }

  .recent-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .unread-count {
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 0 0.4rem;
    background-color: orange;
  }

  .avatar {
    height: 3rem;
    width: 3rem;
  }

  .timestamp {
    font-size: 0.875rem;
    color: var(--secondary-text-color);
  }

  .communities {
    padding: var(--page-top-gap) 1rem 0 1rem;
  }

  .communities-list {
    width: 100%;
  }
}

@media (min-width: 1240px) {
  .communities-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
